/*===================================================================================================
-------------------------------------------VARIABLES STYLES ----------------------------------------------
===================================================================================================*/
//Break Points
$bp-desktop: 1440px;

//Font style
$base-font: "Kumbh Sans", sans-serif;

// Colors
//Text
$clr-primary: hsl(238, 29%, 16%);
$clr-secondary: hsl(14, 88%, 65%);

// Background color
$bg-clr-primary: hsl(273, 75%, 66%);
$bg-clr-secondary: hsl(240, 73%, 65%);
$bg-clr-card: #fff;

// Component colors
$seperator-clr: hsl(240, 5%, 91%);
